@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-rubik: monospace;
  --font-open_sans: serif;
  --p: #57bef4;
  --p-l: #d5effc;
  --p-d: #4eabdc;
}
html {
  scroll-padding-top: 70px;
}
body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

@layer components {
  .page-container {
    @apply h-full w-full flex flex-col items-center lg:px-5 sm:px-2 py-5 mb-[20em] fade-effect-quick;
  }
  .anc {
    @apply text-p-500 dark:text-p-300 dark:visited:text-p-400 font-bold leading-none overflow-hidden align-bottom	 py-1 inline-block	 relative  visited:text-p-700 hover:text-white transition px-[2px] before:absolute before:-z-[1] before:top-0 before:left-0 before:translate-y-[calc(100%-3px)]  before:w-full before:h-full before:bg-gradient-to-r before:from-p-300/80 before:via-p-400/80 before:to-p-600/80 hover:before:translate-y-0 before:transition  before:rounded-sm  before:px-2;
  }
  .heading-lg {
    @apply text-center text-5xl sm:mb-5 lg:mb-10 font-extrabold text-p-600 dark:text-p-300 f1;
  }
  .heading-md {
    @apply text-center text-3xl mb-2 font-extrabold text-p-600 dark:text-p-300 f1;
  }
  .heading-sm {
    @apply text-center text-xl mb-1 font-extrabold text-p-600 dark:text-p-300 f1;
  }
  .textarea-tw {
    @apply bg-[hsla(200,0%,100%,1)]  dark:bg-[hsla(200,0%,10%,1)]  placeholder:text-slate-400 dark:placeholder:text-slate-300 text-slate-800 dark:text-slate-100 rounded-lg dark:!shadow-white textarea-box;
  }
  .text-box {
    @apply !p-4 glass-box shadow-lg !shadow-p-600/40 dark:shadow-p-600 !border-0 bg-white/60 dark:bg-black/60;
  }
  .button-1 {
    @apply flex items-center gap-2 px-10 py-2 text-white transition rounded-full shadow-md bg-p-500 shadow-p-300 hover:bg-p-600 hover:shadow-p-400 hover:shadow-lg hover:scale-105 active:scale-90 justify-center f2;
  }
  .button-bw {
    @apply flex items-center gap-2 px-10 py-2 dark:text-black text-white transition rounded-full shadow-md dark:bg-white dark:shadow-slate-300  dark:hover:shadow-slate-400 bg-slate-900 shadow-slate-600 hover:shadow-slate-500 hover:shadow-lg hover:scale-105 active:scale-90 justify-center f2;
  }
  p {
    @apply text-slate-800 dark:text-slate-50 f2;
  }
  label {
    @apply text-slate-800 dark:text-slate-50 f2;
  }
  .react-select-container .react-select__control {
    @apply bg-white dark:bg-slate-400 border-2 border-slate-300 dark:border-slate-200  hover:border-slate-400 dark:hover:border-slate-500 rounded-xl f1;
  }

  .react-select-container .react-select__control--is-focused {
    @apply border-slate-500  hover:border-slate-500 dark:border-slate-200 dark:hover:border-slate-400 shadow-none;
  }

  .react-select-container .react-select__menu {
    @apply bg-slate-100 dark:bg-slate-900 border-2 border-slate-300 dark:border-slate-600 f1;
  }

  .react-select-container .react-select__option {
    @apply text-slate-600 dark:text-slate-200 bg-slate-100 hover:bg-slate-200 dark:bg-slate-700 dark:hover:bg-slate-800;
  }
  .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-slate-200 dark:bg-slate-800;
  }

  .react-select-container .react-select__indicator-separator {
    @apply bg-slate-400;
  }
  .css-qc6sy-singleValue {
    @apply !text-slate-100 dark:!text-slate-200;
  }
}

.f1 {
  font-family: var(--font-rubik);
  font-display: block;
}
.f2 {
  font-family: var(--font-open_sans);
  font-weight: 500;
  font-display: block;
}

.glass-box {
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 4px;
}
.normal-box-soft {
  background: rgba(255, 255, 255, 0.364);
  padding: 4px;
  border-radius: 1em;
  box-shadow: 5px 5px 17px #9898986e, -5px -5px 17px #ffffff65;
}

.fade-effect {
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
  animation: fadeIn 4s;
}

.fade-effect-quick {
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}

.fade-effect-fast {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.fade-effect-turbo {
  -webkit-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -o-animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.grow-effect {
  -webkit-animation: growIn 0.2s;
  -moz-animation: growIn 0.2s;
  -o-animation: growIn 0.2s;
  -ms-animation: growIn 0.2s;
  animation: growIn 0.9s;
}
@keyframes growIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes growIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes growIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-o-keyframes growIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-ms-keyframes growIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.logo {
  font-size: 32px;
  background: linear-gradient(270deg, var(--p), var(--p-l), var(--p-d));
  background-size: 400% 400%;
  transition: all 1s ease;

  -webkit-animation: logo 17s ease infinite;
  -moz-animation: logo 17s ease infinite;
  animation: logo 17s ease infinite;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.logo:hover {
  background-size: 110% 110%;
}

@-webkit-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  color: var(--p-l);
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: var(--p);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.textarea-box {
  /* background: rgb(243, 243, 243); */
  -webkit-appearance: none;

  -webkit-box-shadow: inset 2px 2px 4px #c2c2c2, inset -2px -2px 4px #d6d6d69f;
  box-shadow: inset 2px 2px 4px #c2c2c2, inset -2px -2px 4px #d6d6d69f;
  border: none;
  padding: 10px;
  /* width: 40em; */
  border-radius: 0.7em;
}
